WindowsFormsApplication1/Service References/ErdoganTheMaster/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://SuperErdogan.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://SuperErdogan.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://SuperErdogan.org/">
      <s:element name="getTxtFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTxtFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTxtFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFileNames">
        <s:complexType />
      </s:element>
      <s:element name="getAllFileNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllFileNamesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ChangeTxtFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeTxtFileResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getTxtFileSoapIn">
    <wsdl:part name="parameters" element="tns:getTxtFile" />
  </wsdl:message>
  <wsdl:message name="getTxtFileSoapOut">
    <wsdl:part name="parameters" element="tns:getTxtFileResponse" />
  </wsdl:message>
  <wsdl:message name="getAllFileNamesSoapIn">
    <wsdl:part name="parameters" element="tns:getAllFileNames" />
  </wsdl:message>
  <wsdl:message name="getAllFileNamesSoapOut">
    <wsdl:part name="parameters" element="tns:getAllFileNamesResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeTxtFileSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeTxtFile" />
  </wsdl:message>
  <wsdl:message name="ChangeTxtFileSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeTxtFileResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="getTxtFile">
      <wsdl:input message="tns:getTxtFileSoapIn" />
      <wsdl:output message="tns:getTxtFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFileNames">
      <wsdl:input message="tns:getAllFileNamesSoapIn" />
      <wsdl:output message="tns:getAllFileNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeTxtFile">
      <wsdl:input message="tns:ChangeTxtFileSoapIn" />
      <wsdl:output message="tns:ChangeTxtFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTxtFile">
      <soap:operation soapAction="http://SuperErdogan.org/getTxtFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFileNames">
      <soap:operation soapAction="http://SuperErdogan.org/getAllFileNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeTxtFile">
      <soap:operation soapAction="http://SuperErdogan.org/ChangeTxtFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTxtFile">
      <soap12:operation soapAction="http://SuperErdogan.org/getTxtFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFileNames">
      <soap12:operation soapAction="http://SuperErdogan.org/getAllFileNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeTxtFile">
      <soap12:operation soapAction="http://SuperErdogan.org/ChangeTxtFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:53269/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:53269/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>